@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes goout {
    from{
        transition: 0px;
    }
    to {
        transition: 220px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    /* background-color: white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
section{
    width: 100%;
    height: 100vh;
    /* float: left; */
    /* background-color: #CDB699; */
    /* border-bottom: solid; */
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 5vh;
    align-items: center;
    position: fixed;
    z-index: 1;
    font-size: 0.9em;
    letter-spacing: 2px;
    background-color: #f6eee0;
    margin-top: 0%;
}
.menu{
    /* text-align: left; */
    margin-left: 1vw;
    width:45vw;
    height: auto;
    opacity: 1;
    visibility: visible;
    justify-self: right;
}
.menu > li {
    padding-inline-start: 0%;
    color: black;
    /* background-color: whitesmoke; */
    list-style-type: none;
    display:inline-block;
    padding: 7px;
}
.menu > li:hover{
    background-color:  #fcf599c7;
    opacity: 0,9;
    transform: scale(1.1);
}
.menu > li a{
    text-decoration: none;
    color: black;
    text-underline-offset: 0;
}
#mainlogo{
    width:10vw;
    text-align: center;
}
#mainlogo:hover{
    transform: scale(1.1);
}

#login{
    width: 45vw;
    display: flex;
    margin-right: 2vw;
    justify-content: end;
}

#login1{
    padding: 7px;
    width: max-content;
}

#login1 a:active, :visited, :link{
    text-decoration: none;
    color: black;
}


#login1:hover{
    background-color:  #fcf599c7;
    opacity: 0,9;
    text-decoration: none;
    color: black;
    transform: scale(1.1);

}
/* BUGER MENU */
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 4px;
}

        @media screen and (max-width: 1500px){
            #login{
                width: 25vw;
            }
            .menu{
                width: 75vw;
            }
            #mainlogo{
                display: none;
            }
            .ourdogsside1{
                display: none;
            }
        }
                @media screen and (max-width: 875px){
                    body{
                        /* overflow-x: hidden; */
                        /* margin-bottom: 6vh; */
                    }
                    .header{
                        justify-content: space-between;
                    }
                    #login{
                        margin-right: 2vw;
                    }
                    .menu{
                        position: absolute;
                        left: 0px;
                        margin-left: 0px;
                        height: 97vh;
                        top: 5vh;
                        width: 40vw;
                        padding: 4px;
                        background-color: #f6eee0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(-100%);
                    }
                    .burger{
                    display:block;
                    margin-left: 2vw;
                    }
                    #photomain3, #photomain1{
                    display: none;
                    }
                    .burger:hover{
                    cursor: pointer;
                    opacity: 0.5;
                    }
                    #image{
                        display: none;
                    }

                }

.menu-active{
    transform: translateX(0%);
    transition: transform 1s ease-out;
    width: fit-content;
    height: fit-content;
}

#main{
font-size: 1em;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
background-color: #f6eee0;
width: 100vw;
}
#description{
/* width: 50vw; */
text-align: justify;
animation-name: appear;
animation-duration: 2s;
animation-delay: 0.5s;
animation-fill-mode: both;
padding: 100px;
}
.description::first-letter{
font-size: 1.2em;
}

#photomain{
    display: flex;
    justify-content:space-around;
    width: 80vw;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

#us{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #e4b7a0;
}
#description2{
width: 75vw;
margin-bottom: 3vh;
text-align: justify;
}

/* OBRAZKI Z PSAMI */
#ourDogsPresent{
    text-align: center;
}
#ourdogs{
background-color: #d89174;
display: flex;
justify-content: center;
}
.ourdogsside, .ourdogsside1{
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: center;

}
.dogsdes{
    height: 200px;
    width: 200px;
    margin: 1em;
    display: flex;
    justify-content: center;
}
.dogsimg img{
    border-radius: 30%;
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.dogsdes img:hover{
transform: scale(1.05);
}
.dogsName{
    background-color: white;
    text-align: center;
    border-radius: 8%;

}

/* YOUR SUPPORT */

#support{
    background-color: #a45c40;
    display: flex;
    justify-content: center;
    align-items: center;
}
#newsletter{
    text-align: center;
    background-color: #c38370;
    display: flex;
    align-items: center;
    justify-content: center;
    }
#mail{
width: 350px;
height: 30px;
background: none;
opacity: 1;
border: none;
border-bottom: solid 2px hsl(0, 0%, 0%);
    }
    /* input::placeholder{
        font-size: 10px;
    } */

    #hide{
        width: 90px;
        height: 35px;
        text-align: center;
        background-color: rgb(143, 143, 48);
        border: solid;
    }
    #hide:active{
        scale: 1.1;
        animation-name: gooout;

        animation-fill-mode: both;
    }

    #contact{
        background-color: #CDB699;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact1{
        text-align: center;

    }
    .socmedia{
        display: inline-block;
        align-items: center;
    }
    .socimg{
        width: 150px;
        height: 150px;
        margin: 10px;
        float: left;
        text-align-last: center;
        animation-name: appear;
        animation-fill-mode: both;
        animation-duration: 2s;
        animation-delay: 1s;
    }
    .socimg img:hover{
        transform: scale(1.1);
    }